.new-badge{
	position: absolute;
    border-radius: 50%;
    background-color: #ff3148;
    width: 16px;
    font-size: 10px;
    color: white;
    padding-left: 5px;
    height: 16px;
    top: -5px;
    right: -5px;
}
.header{
	position: fixed;
	background: #22262f;
	height: 40px;
	width: 100%;
	color: #b4b6bb;
	z-index: 100;
}
.header > div{
	display: inline-block;
	float: left;
}
.header .logo{
	padding: 10px;
	width: 180px;
}
.header .logo img{
	width: 120px;
	padding-left: 10px;
}
.header .user{
	margin: 8px;
	padding: 4px;
	background-color: #111;
	position: relative;
	color: white;
}
.header .bases{
	margin-left: 10px;
}
.header .bases .base-atual{
	margin-top: 2px;
	text-transform: uppercase;
	font-size: 10px;
}
.header .bases .base-atual .selected{
	font-weight: bold;
	color: #ff3148;
}
.header .bases .select-base .dropdown-button{
	color: #b9b9b9;
	font-size: 13px;
}
.header .bases .select-base .dropdown-content li > a{
	padding: 10px;
}
.header .options,
.header .logout,
.header .view,
.header .maximize,
.header .upload{
	background: red;
	padding: 5px;
	color: white;
	margin-top: 8px;
	margin-left: 8px;
	width: 22px;
	border-radius: 2px;
	font-size: 13px;
	cursor: pointer;
}
.header .menu-right{
	float: right;
}
.header .logout{
	margin-right: 10px;
}
.header .language{
	margin-top: 12px;
}
.header .language .language-icon{
	width: 20px;
	vertical-align: middle;
}
.header .language .dropdown-button{
	color: #b9b9b9;
	font-size: 11px;
}

.menu-left{
	position: fixed;
	top: 40px;
	background: #22262f;
	clear: left;
	color: white;
	width: 40px;
	height: 100%;
}
.menu-left .menu-left-item{
	text-align: center;
	height: 34px;
	padding-top: 10px;
	font-size: 12px;
	cursor: pointer;
	border-bottom: solid 1px #555;
}
.menu-left .menu-left-item:hover{
	background: #414652;
}

.content{
	position: relative;
	top: 40px;
	margin-left: 40px;
	height: 1000px;
}
.content .title{
	position: fixed;
	width: 100%;
	z-index: 90;
}
.content .title-divider{
	width: 100%;
	height: 10px;
	top: 40px;
	position: relative;
	background: rgba(164,179,87,1);
	background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
	background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
	background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
	background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
	background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
}
.content .title > div{
	display: inline-block;
	float: left;
	height: 40px;
}
.content .title .logo{
	width: 200px;
	text-align: center;
	padding: 8px;
	background: white;
}
.content .title .name{
	width: calc(90% - 200px);
	background: #15181f;
	color: white;
	padding-left: 10px;
	line-height: 20px;
}
.content .title .name .first{
	font-size: 20px;
	font-weight: bold;
}
.content .title .name .second{
	font-size: 14px;
}
.content .title .title-menu{
	width: 10%;
	background: #15181f;
	color: white;
	font-size: 22px;
	padding: 10px;
	text-align: right;
	cursor: pointer;
}
.content .conteudo{
	position: relative;
	top: 40px;
}
.content .conteudo > div{
	display: inline-block;
	float: left;
	height: 100%;
}
.content .conteudo .conteudo-left{
	width: 200px;
	background: #272a31;
	color: #ddd;
}
.filtros{
	font-size: 11px;
	color: black;
}
.filtros .filtro-title{
	padding-left: 20px;
	padding-top: 15px;
	clear: left;
	color: #ddd;
}
.filtros .filtro{
	padding: 0px 20px;
}
.filtros .filtro .select,
.filtros .filtro .checkbox{
	background: white;
	height: 15px;
	float: left;
	text-align: center;
	border-left: 1px solid #ccc;
}
.filtros select{
	display: block;
	background-color: white;
	width: 100%;
	padding: 0px; 
	border: none; 
	border-radius: 0px; 
	height: inherit;
	text-transform: uppercase;
	font-size: 11px;
}
.filtros .filtro .select{
	width: 70%;
}
.filtros .filtro .checkbox{
	width: 30%;
	padding-top: 1px;
}
.filtros .filtro .checkbox input{
	opacity: 1;
	pointer-events: all; 
}
.filtros .selecao-atual textarea{
	margin-left: 20px;
	width: 80%;
	border-radius: 2px;
	background: white;
	resize: none;
}
.filtros .faq{
	padding: 20px;
}
.filtros .faq select{
	font-size: 13px;
	height: 30px;
}
.filtros .btn-limpar{
	margin-left: 20px;
	width: 80%;
	border-radius: 50px;
	color: #ddd;
	border: 1px solid black;
	background-color: #727F96;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#727F96), to(#000000));
	background-image: -webkit-linear-gradient(top, #727F96, #000000);
	background-image: -moz-linear-gradient(top, #727F96, #000000);
	background-image: -ms-linear-gradient(top, #727F96, #000000);
	background-image: -o-linear-gradient(top, #727F96, #000000);
	background-image: linear-gradient(to bottom, #727F96, #000000);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#727F96, endColorstr=#000000);
}
.filtros .btn-limpar:hover{
	background-color: #5b667a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5b667a), to(#1a1a1a));
	background-image: -webkit-linear-gradient(top, #5b667a, #1a1a1a);
	background-image: -moz-linear-gradient(top, #5b667a, #1a1a1a);
	background-image: -ms-linear-gradient(top, #5b667a, #1a1a1a);
	background-image: -o-linear-gradient(top, #5b667a, #1a1a1a);
	background-image: linear-gradient(to bottom, #5b667a, #1a1a1a);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5b667a, endColorstr=#1a1a1a);
}
.filtros .updated{
	font-size: 10px;
	color: #ddd;
	text-align: center;
	padding-top: 10px;
}
.graficos .graph{
	display: inline-block;
	float: left;
	padding: 15px;
}
.graficos .graph .graphContent > div{
	display: inline-block;
	float: left;
	margin-top: 5px;
}
.graficos .graph .graphContent .icon{
	width: 40%;
	font-size: 30px;
	text-align: center;
}
.graficos .graph .graphContent .value{
	text-align: center;
	font-size: 18px;
	width: 60%;
}
.graficos .graph .titleGraph{
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
}
progress {
	width: 100%;
	height: 8px;
	margin: 50px auto;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}
progress::-webkit-progress-bar {
	background: rgb(185, 185, 185);
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
progress::-webkit-progress-value {
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background: #7d901a;
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}
@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}
.tabelaDiv{
	clear: both;
}
.tabela tr, .tabela th{
	text-transform: uppercase;
	border-radius: 0px !important;
}
.tabela th{
	text-align: center;
	background: #7d901a;
	padding: 4px;
}
.tabela td{
	min-width: 90px;
	padding: 0px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.tabela tr:nth-child(even){
	background: #ddd;
}